footer
    background $verde
    padding 10px 0
    p
        margin 0
        text-align center
        color #fff
        oswald 12
        a:hover
            color $laranja
        span
            display inline-block
            margin 0 4px
            opacity .5
            +mobile()
                display block
                font-size 0
