header
    width 100%
    height 125px
    background #fff
    border-top 1px solid $verde
    position relative
    z-index 103
    +mobile()
        height 100px
    .center
        height 100%
        position relative
        padding-top 34px
    .logo
        width 343px
        height 178px
        position absolute
        left 0
        top 35px
        background $img('beowulf.png') no-repeat center
        text-indent -9999px
        +mobile()
            width 200px
            height 103px
            background-size 100% auto
            top 15px
    #nav-desktop
        width 100%
        height 90px
        display flex
        justify-content flex-end
        +below($tablet)
            display none
        a
            display flex
            align-items center
            exo 18
            color $verde
            text-transform uppercase
            + a
                margin-left 40px
            &:hover
                color $laranja
    .icones
        height 24px
        width auto
        clearfix()
        position absolute
        top 10px
        right 0
        .social
        .lang
            font-size 0
            display block
            float left
        .lang
            margin-left 22px
        a
            width 24px
            height 24px
            display inline-block
            &.lang-pt
                background $img('lang-pt.png') no-repeat center
            &.lang-en
                background $img('lang-en.png') no-repeat center
            &.lang-cn
                background $img('lang-cn.png') no-repeat center
            &.instagram
                background $img('instagram.png') no-repeat center
            &.twitter
                background $img('twitter.png') no-repeat center
            + a
                margin-left 5px

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left auto
    .lines
        display block
        width 100%
        height 4px
        background $verde
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background $verde
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

#nav-mobile
    +above($tablet)
        display none !important
    width 100%
    display none
    padding 25px 0
    position absolute
    z-index 102
    background $verde
    text-align right
    left 0
    top 125px
    +mobile()
        top 100px
    .center > a
        display block
        exo 16
        text-transform uppercase
        color #fff
        + a
            margin-top 8px
