.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.textos
    display flex
    .titulo
        h2
            width 300px
            oswald 44
            color $verde
            margin 0
            text-transform uppercase
    .texto
        color $verde
        p
            exo 16
            margin 0
        h2
            exo 52
            color $laranja
            font-style italic
            margin 0
        * + *
            margin-top 1em
        * + h2
            margin-top .5em
    +tablet()
        .titulo
            h2
                font-size 32px
                width 220px
        .texto
            h2
                font-size 40px
    +mobile()
        display block
        .titulo
            h2
                font-size 24px
                margin-bottom .6em
        .texto
            p
                font-size 15px
            h2
                font-size 28px
