desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$verde   = #315240
$laranja = #F2AC66

@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Oswald:400,700')

exo($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

oswald($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Oswald', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
