.contato
    padding 80px 0
    background #fff
    h2
        oswald 44
        color $verde
        text-transform uppercase
        text-align center
        margin 0
    h3
        oswald 32
        color $laranja
        text-align center
        margin .5em 0 1em
    p
        exo 18
        color $verde
        text-align center
        margin 1.5em 0 2.5em
    form
        width 100%
        max-width 500px
        margin 0 auto
        text-align center
        input[type=text]
        input[type=email]
            display block
            width 100%
            border 1px solid $laranja
            border-radius 4px
            exo 16
            color $verde
            padding 0 10px
            height 42px
            outline 0
            + input
                margin-top 10px
        .response
            display none
            background rgba($laranja, .8)
            color $verde
            padding 15px
            exo 12
            text-transform uppercase
            letter-spacing 1px
            text-align center
            margin-top 20px
            border-radius 4px
        input[type=submit]
            display inline-block
            background $verde
            oswald 22
            color #fff
            text-transform uppercase
            border 0
            outline 0
            border-radius 4px
            padding 10px 65px
            cursor pointer
            margin-top 20px
            transition background .3s
            &:hover
                background $laranja
    +tablet()
        padding 50px 0
        h2
            font-size 36px
        h3
            font-size 24px
        p
            font-size 16px
    +mobile()
        padding 30px 0
        h2
            font-size 24px
        h3
            font-size 20px
        p
            font-size 15px
        form
            input[type=text]
            input[type=email]
                font-size 15px
            #form-contato-response
                margin-top 15px
            input[type=submit]
                font-size 18px
                margin-top 15px

.lightbox
    width 600px
    padding 80px
    +tablet()
        width 500px
        padding 60px
    +mobile()
        width auto
        padding 40px 30px
        form
            max-width 100%
            width 300px
