.empresa
    background #fff
    padding 80px 0
    margin-bottom 330px
    +tablet()
        padding 50px 0
        margin-bottom 200px
    +mobile()
        padding 30px 0
        margin-bottom 120px
