.fundos
    background $verde
    padding 80px 0
    .textos
        .titulo h2
        .texto
            color #fff
    .fundo
        margin-top 80px
        padding-top 56px
        position relative
        +tablet()
            margin-top 60px
            padding-top 45px
        +mobile()
            margin-top 40px
            padding-top 30px
        clearfix()
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            max-width 600px
            height 1px
            background $laranja
        .titulo
            width 25%
            float left
            img
                max-width 100%
                display block
            p
                exo 16
                color #fff
                margin 1.5em 0
            a
                display block
                background $laranja
                border-radius 4px
                oswald 24
                text-transform uppercase
                padding 10px
                text-align center
                color $verde
                transition background .3s, color .3s
                border 2px solid $laranja
                max-width 300px
                &:hover
                    background $verde
                    color $laranja
            +mobile()
                width 100%
                p
                    font-size 15px
                a
                    font-size 20px
            +tablet()
                width 100%
                max-width 700px
        .informacoes
            width 64%
            float right
            +tablet()
                width 100%
                margin-top 30px
            +mobile()
                width 100%
                margin-top 25px
            .grafico
                margin-bottom 60px
                width 100%
                height 300px
                margin-top -25px
                +tablet()
                    margin-bottom 40px
                +mobile()
                    margin-bottom 25px
                    height 200px
            .breve
                width 100%
                margin-bottom 60px
                +tablet()
                    margin-bottom 40px
                +mobile()
                    margin-bottom 25px
                span
                    display inline-block
                    border 2px solid rgba(#000, .2)
                    padding 16px 32px
                    border-radius 4px
                    exo 14
                    color $laranja
                    text-transform uppercase
                    letter-spacing 2px
            .tabelas
                clearfix()
                table
                    border-spacing 0
                    border-collapse collapse
                    color #fff
                    th
                        background $laranja
                        exo 18
                        text-transform uppercase
                        color $verde
                        +mobile()
                            font-size 16px
                    td
                        exo 16
                        padding 5px 0
                        text-align center
                        +mobile()
                            font-size 15px
                    tr
                        border-bottom 1px solid $laranja
                    &.performance
                        width 64.5%
                        float left
                        +mobile()
                            width 100%
                            margin-bottom 20px
                        td
                            width 25%
                            +mobile()
                                padding-left 5px
                                padding-right 5px
                            strong
                                white-space nowrap
                                +mobile()
                                    white-space normal
                            &:first-child
                                padding-left 15px
                            &:last-child
                                padding-right 15px
                    &.taxas
                        width 32%
                        float right
                        +mobile()
                            width 100%
                        td
                            width 60%
                            &:first-child
                                text-align left
                                padding-left 15px
                            &:last-child
                                width 40%
                                text-align right
                                padding-right 15px
    +tablet()
        padding 50px 0
    +mobile()
        padding 30px 0
