.banners
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    z-index -1
    .slide
        width 100%
        height 100%
        background-size cover

.hero
    height 500px
    +tablet()
        height 450px
    +mobile()
        height 350px
    .center
        height 100%
        position relative
        display flex
        align-items center
        justify-content flex-end
        +mobile()
            align-items flex-start
            padding-top 45px
    .newsletter
        margin-right 45px
        p
            exo 20
            color #fff
            text-shadow 0 1px 1px rgba(#000, .15)
            margin 0 0 1em
        form
            width 540px
            margin 0 auto
            clearfix()
            input[type=email]
                width calc('100% - 185px')
                height 42px
                border 1px solid $laranja
                border-radius 4px
                background transparent
                exo 16
                color #fff
                padding 0 10px
                outline 0
                float left
                +placeholder()
                    color #fff
            input[type=submit]
                width 180px
                height 42px
                background $laranja
                color #fff
                oswald 22
                text-align center
                border 0
                outline 0
                transition background .3s
                float left
                border-radius 4px
                text-transform uppercase
                margin-left 5px
                cursor pointer
                &:hover
                    background $verde
        +tablet()
            margin -50px 0 0
            p
                font-size 16px
            form
                width 450px
                input[type=email]
                    font-size 15px
                input[type=submit]
                    font-size 20px
        +mobile()
            margin 0
            p
                font-size 14px
            form
                width 100%
                input[type=email]
                    font-size 15px
                    width calc('100% - 145px')
                input[type=submit]
                    font-size 18px
                    width 140px
    .moedas
        position absolute
        width 100%
        left 0
        bottom 25px
        text-align center
        exo 14
        color #fff
        text-shadow 0 1px 0 rgba(#000, .15)
        line-height 1.3
        +mobile()
            font-size 13px
            bottom 15px
        .divider
            display inline-block
            margin 0 4px
            &:last-child
                display none
        .positivo
            color #00F341
        .negativo
            color #E20015
