.maincoins
    background #E5E5E5
    overflow hidden
    .center
        padding 80px 0
        &:after
            content ''
            position absolute
            width 628px
            height 540px
            background $img('globo.png') no-repeat center
            right -168px
            top 0
    h3
    h2
        position relative
        z-index 2
    h3
        oswald 44
        color $verde
        text-transform uppercase
        margin 0 0 .2em
    h2
        oswald 68
        color #fff
        margin 0 0 .8em
        text-shadow 0 2px 12px rgba(#000, .4)
    .box
        width 100%
        max-width 960px
        border 1px solid $laranja
        position relative
        padding 30px
        z-index 2
        clearfix()
        .texto
            width 55%
            float left
            img
                max-width 100%
                display block
            p
                margin-bottom 0
                exo 16
                color $verde
        .valor
            width 33.333%
            float right
            a
                display block
                background $laranja
                border-radius 4px
                oswald 24
                text-transform uppercase
                padding 10px
                text-align center
                color $verde
                transition background .3s, color .3s
                margin-bottom 45px
                &:hover
                    background $verde
                    color $laranja
            table
                width 100%
                color $verde
                border-spacing 0
                border-collapse collapse
                th
                    background $laranja
                    exo 18
                    text-transform uppercase
                td
                    exo 16
                    width 50%
                    padding 5px 0
                    &:first-child
                        padding-left 10px
                tr
                    border-bottom 1px solid $laranja
    +tablet()
        .center
            padding 50px 0
            &:after
                width 450px
                height 100%
                background-size 100% auto
                background-position center top
        h3
            font-size 32px
        h2
            font-size 56px
    +mobile()
        .center
            padding 30px 0
            &:after
                width 200px
                height 100%
                background-size 100% auto
                background-position center top
                right -70px
        h3
            font-size 20px
        h2
            font-size 36px
        .box
            padding 20px
            .texto
                width 100%
                img
                    width 100%
                    max-width 250px
                p
                    font-size 15px
            .valor
                width 100%
                margin-top 25px
                a
                    margin-bottom 15px
                    font-size 20px
                table
                    th
                        font-size 16px
                    td
                        font-size 15px
