.quem-somos
    background #fff
    padding 80px 0
    .equipe
        background #EEEFEF
        padding 40px 0
        margin-top 65px
        .center
            clearfix()
            margin-bottom -40px
        .membro
            width 50%
            float left
            padding-right 85px
            display flex
            margin-bottom 40px
            .imagem
                img
                    width 250px
                    display block
                .social
                    margin-top 5px
                    font-size 0
                    a
                        display inline-block
                        width 16px
                        height 16px
                        background-image $img('social.png')
                        background-repeat no-repeat
                        &.facebook
                            background-position 0 top
                        &.twitter
                            background-position -18px top
                        &.linkedin
                            width 17px
                            background-position -35px top
                        &.instagram
                            background-position -53px top
                        + a
                            margin-left 2px
            .texto
                margin-left 20px
                margin-top 10px
                h3
                    oswald 32
                    color $laranja
                    margin 0
                p
                    exo 16
                    color $verde
                    margin-bottom 0
    +tablet()
        padding 50px 0
        .equipe
            margin-top 45px
            .membro
                width 100%
                padding-right 0
                .texto
                    max-width 600px
                    h3
                        font-size 28px
    +mobile()
        padding 30px 0
        .equipe
            margin-top 30px
            padding 25px 0
            .center
                margin-bottom -30px
            .membro
                width 100%
                padding-right 0
                margin-bottom 30px
                .imagem
                    img
                        width 100px
                .texto
                    margin-top 5px
                    h3
                        font-size 20px
                    p
                        font-size 15px

